body{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
   
    overflow-x: hidden;
    
}
.container{
    padding: 3rem;
    width: 100%;
}
.union{
    margin-right: 1rem;
}
.brand{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.search-bar{
    border: 1px solid #9B9B9B;
    border-radius: 16px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    background-color: #F6F6F6;
}
.search-input{
    font-family: 'Lexend', sans-serif;
    border: none;
    font-size: 2rem;
    margin-left: 2rem;
    flex-grow: 1;
    background-color: #F6F6F6;
}
.search-input::placeholder{
    color: black;
}
.search-input:focus{
    border: none;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #F6F6F6;
    padding: 2rem;
    text-align: center;
    width: 300px;
}
.best-deal{
    border: 1px solid #1AC94B;
box-sizing: border-box;
border-radius: 16px;
font-size: 0.8rem;
width: fit-content;
padding: 2px 2rem;
margin: 2rem auto 1rem auto;

}
.item-name{
    font-weight: 500;
    font-size: 3rem;
}
.item-company{
    
    font-size: 1.2rem;
}
.dot{
    margin: 0 0.5rem;
}
.item-price{
    font-weight: 600;
    font-size: 1.2rem;
}
.item-desc{
    margin: 2rem 0;
}
.item-desc li{
   font-size: 0.8rem;
   text-align: left;
}
.buy-now{
    background-color: #1AC94B;
    color: #F6F6F6;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.4rem 1rem;
    border-radius: 7px;
    border: 0;
    width: 100%;
}