<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
    <!--Custom CSS-->
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>SearchCow</title>
</head>

<body>
    <div class="container">
        <!--Logo-->
        <div class="brand">
            <img src="../static/img/Union.svg" alt="union" class="union">
            <img src="../static/img/searchcow-white.svg" alt="">
        </div>
        <!--Search bar-->

        <div class="search-bar">
            <img src="../static/img/magnify.svg" alt="">
            <input type="text" class="search-input" placeholder="Search for products">
        </div>
        <!--Cards-->
        <h1>What does Search Cow do?</h1>
        <div class="landing-container">
            <div class="landing">
                <img src="../static/img/Vector.svg" alt="">
                <h2>Compare prices</h2>
                <p>
                    It minimises search time and compares the prices of a product from the top 3 e-commerce portals. It
                    also reduces the time you spend researching about products and decreases dropout rates.

                </p>
            </div>
            <div class="landing">
                <img src="../static/img/Vector (1).svg" alt="">
                <h2>Real-time search</h2>
                <p>
                    It refreshes the prices with each search result so that you don’t miss out on the best deals and
                    offers on the products that you search for.
                </p>
            </div>
            <div class="landing">
                <img src="../static/img/Vector (2).svg" alt="">
                <h2>Redirects to Vendor</h2>
                <p>
                    Once you find the deal on your product, you can instantly but it straight from the desired
                    e-commerce portal. Just click on the buy button to be redirected.
                </p>

            </div>
        </div>
    </div>
    <div class="container hide">
        <div class="cards-container ">
            <div class="card">
                <img src="../static/img/image 1.svg" alt="">
                <div class="best-deal">Best Deal</div>
                <div class="item-name">
                    iPhone 11
                </div>
                <div class="card-text">
                    <span class="item-price">
                        Rs. 74,999
                    </span>
                    <span class="dot">
                        •
                    </span>
                    <span class="item-company">
                        Flipkart
                    </span>

                </div>


                <ul class="item-desc">
                    <li>
                        6.1-inch (15.5 cm diagonal) Liquid Retina HD LCD display
                    </li>
                    <li>
                        Water and dust resistant
                    </li>
                    <li>
                        Dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Portrait mode, and 4K
                        video up to 60fps
                    </li>
                    <li>

                        12MP TrueDepth front camera with Portrait mode, 4K video, and Slo-Mo
                    </li>
                </ul>
                <button class="buy-now">
                    BUY
                </button>


            </div>
            <div class="card">
                <img src="../static/img/image 1.svg" alt="">
                <div class="best-deal">Best Deal</div>
                <div class="item-name">
                    iPhone 11
                </div>
                <div class="card-text">
                    <span class="item-price">
                        Rs. 74,999
                    </span>
                    <span class="dot">
                        •
                    </span>
                    <span class="item-company">
                        Flipkart
                    </span>

                </div>


                <ul class="item-desc">
                    <li>
                        6.1-inch (15.5 cm diagonal) Liquid Retina HD LCD display
                    </li>
                    <li>
                        Water and dust resistant
                    </li>
                    <li>
                        Dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Portrait mode, and 4K
                        video up to 60fps
                    </li>
                    <li>

                        12MP TrueDepth front camera with Portrait mode, 4K video, and Slo-Mo
                    </li>
                </ul>
                <button class="buy-now">
                    BUY
                </button>


            </div>
            <div class="card">
                <img src="../static/img/image 1.svg" alt="">
                <div class="best-deal">Best Deal</div>
                <div class="item-name">
                    iPhone 11
                </div>
                <div class="card-text">
                    <span class="item-price">
                        Rs. 74,999
                    </span>
                    <span class="dot">
                        •
                    </span>
                    <span class="item-company">
                        Flipkart
                    </span>

                </div>


                <ul class="item-desc">
                    <li>
                        6.1-inch (15.5 cm diagonal) Liquid Retina HD LCD display
                    </li>
                    <li>
                        Water and dust resistant
                    </li>
                    <li>
                        Dual-camera system with 12MP Ultra Wide and Wide cameras; Night mode, Portrait mode, and 4K
                        video up to 60fps
                    </li>
                    <li>

                        12MP TrueDepth front camera with Portrait mode, 4K video, and Slo-Mo
                    </li>
                </ul>
                <button class="buy-now">
                    BUY
                </button>


            </div>
        </div>
    </div>


    <script src="../static/js/script.js"></script>
</body>

</html>